<sidebar>
  <h4><%=t '.go_to' %></h4>
  <ul class="nav nav-pills nav-stacked" id="myNav">
    <li><a href="#bibliographic" class=""><%= t('.bibliographic') %></a></li>
    <li><a href="#administrative" class=""><%= t('.administrative') %></a></li>
    <li><a href="#upload" class=""><%= t('.upload') %></a></li>
  </ul>
</sidebar>