<div class="modal fade" id="validationModal" tabindex="-1" role="dialog" aria-labelledby="validationModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Validerings Beskeder</h4>
      </div>
      <div class="modal-body">
        <ul>
        <% @instance.validation_message.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>    
      </div>
      <% unless @instance.validation_status == 'INPROGRESS' %>
      <div class="modal-footer">
        <%= link_to "Start ny validering", validate_tei_work_instance_url(@work,@instance), :class => "btn btn-primary", "data-target" => "#validationModal" %>
      </div>
      <% end %>
    </div>
  </div>
</div>