<% @page_title="Person: " + @authority_object.display_value  %>

<div class="container">
  <h1><%= @authority_object.display_value %></h1>

  <%= @authority_object.description %>
  <% @authority_object.same_as_uri.each do |uri| %>
      <% if can?(:create, Authority::Person) %>
        <%= link_to('same as', uri) if uri.present? %>
      <% end %>
  <% end %>
  <% if can?(:create, Authority::Person) %>
    <%= link_to 'Edit', edit_authority_person_path(@authority_object) %>
  <% end %>
</div>
