<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t('.import') %></h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@work, url: aleph_works_path, html: { id: 'aleph_import' }) do |f| %>
            <select name="aleph[field]">
              <option value="isbn" selected>ISBN</option>
              <option value="SYS" selected><%= t('.number') %></option>
            </select>
            <input name="aleph[value]"/>
            <%= f.button :button, 'Import', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>