<div class="modal fade" id="new_agent_modal" tabindex="-1" role="dialog" aria-labelledby="new_agent_modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= t('works.work_form.new_person') %> </h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
        <%= render partial: 'authority/people/form', locals: {remote: true} %>
        </div>
      </div>
    </div>
  </div>
</div>


