<% @page_title="Rediger organisation: " + @authority_object.display_value  %>
<div class="container">
<h1><%= t('.editing') %></h1>

<%= render 'form' %>

<%= link_to t(:show), @authority_object %> |
<%= link_to t(:back), authority_organization_path %>
</div>
