<% label ||= 'new_auth_modal' %>
<div class="modal fade" id="<%= label %>" tabindex="-1" role="dialog" aria-labelledby="<%= label %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>


