# Template file for application.local.yml. To run valhal require authentication using an authentication system
# supporting ldap. The application.local.yml file makes it possible to use ldap in this authentication process.

# Add your ldap username and password here.
ldap:
  user: WRITE_YOUR_LDAP-LOGIN_HERE
  password: WRITE_YOUR_LDAP-PASSWORD_HERE
# These links are used to construct urls
# to Valhal objects from the model level
# e.g. in RDF export
test:
  application_url: test
development:
    application_url: http://<valhal-app-server>
    fedora_url: http://<valhal-fedora-server>:8080/fedora/rest
    fedora_user: fedoraAdmin
    fedora_passwd: <FEDORA_PASSWORD>
    solr_url: http://<valhal-solr-server>:8080/solr/blacklight-core
    secret_key_base: <SECRET_KEY>
    solr_url: http://sifd-hydra:8983/solr/development
    bifrost_adl_solr_url: http://localhost:8984/solr/blacklight-core
production:
    application_url: http://<valhal-app-server>
    fedora_url: http://<valhal-fedora-server>:8080/fedora/rest
    fedora_user: fedoraAdmin
    fedora_passwd: <FEDORA_PASSWORD>
    solr_url: http://<valhal-solr-server>:8080/solr/blacklight-core
    secret_key_base: <SECRET_KEY>
    solr_url: http://sifd-hydra:8983/solr/development
    bifrost_adl_solr_url: http://localhost:8984/solr/blacklight-core

