<h6>Tilhører: <%= Finder.obj(letter["work_id_ssi"]).first['display_value_ssm'].first %></h6>
<h5>Til: Fra: Dato:</h5>
<dl class="document-metadata dl-horizontal dl-invert">
<dt>Modtagelsessted:</dt><dd>v </dd>
<dt>Afsendelsessted:</dt><dd>v </dd>
<dt>Sider:</dt><dd> v</dd>
<dt>Format:</dt><dd><%= letter['has_model_ssim'] %></dd>
</dl>
<br>