<%# default partial to display solr document fields in catalog show view -%>
<% id = @document.id %>
<% coll = "/db#{ id[0,id.rindex('/')] }" %>

<div class="container nav-tab-instance-fixContainer">
  <div class="row"><div class="col-md-12">
    <div class="nav-tab-instance">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active">
              <%= link_to(solr_document_path(@document.id)) do %>
                  Tekst
              <% end %>
        </li>

      </ul>
    </div></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
          <div class="text-content workContent">
            <div class="text">
              <% text = SnippetServer.render_snippet(id,{op:'render',c: coll}) %>
              <%= text.html_safe %>
            </div>
          </div>
    </div>
  </div>
</div>