<%# default partial to display solr document fields in catalog show view -%>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<% id = @document.id %>
<% coll = "/db#{ id[0,id.rindex('/')] }" %>

<div class="container nav-tab-instance-fixContainer">
  <div class="row"><div class="col-md-12">
    <div class="nav-tab-instance-2">
      <ul class="nav nav-tabs">
        <li  role="presentation" class="active">
          <a data-toggle="tab" href="#text" >Text</a>
        </li>
        <li role="presentation">
          <a data-toggle="tab" href="#letter" >Letter</a>
        </li>
        <li role="presentation">
          <a data-toggle="link" href="http://www.kb.dk" >Facsimile</a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div id="text" class="tab-pane active">
        <% text1 ||= SnippetServer.render_snippet(@document.id,{:c=> coll}) %>
        <%= text1.html_safe %>
      </div>
      <div id="letter" class="tab-pane">
        <% book_id, div_id = @document.id.split('-') %>
        <% text2 ||= SnippetServer.render_snippet(book_id, {:c=> coll}) %>
        <%= text2.html_safe %>
      </div>
    </div>
  </div>
 </div>
</div>