<%# default partial to display solr document fields in catalog show view -%>
<%= render 'catalog/show_header_default' %>
<% id = @document.id %>
<% coll = "/db#{ id[0,id.rindex('/')] }" %>

<div class="container nav-tab-instance-fixContainer">
  <div class="row">
    <div class="col-md-12">
      <div class="nav-tab-instance-2">
        <ul class="nav nav-tabs">
          <li  role="presentation" class="active">
            <a data-toggle="tab" href="#text" >Text</a>
          </li>
          <li role="presentation">
            <a target="_blank" data-toggle="link" href="<%= show_letter_and_facsimile_letter_book_path(:id => @document['work_id_ssi'], :sid => @document.id) %>" >Facsimile</a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div id="text" class="tab-pane active">
          <% text1 ||= SnippetServer.render_snippet(@document.id,{:c=> coll}) %>
          <%= text1.html_safe %>
        </div>
      </div>
    </div>
  </div>
</div>