<h1><%= @file.original_filename %> </h1>
<%# render a html view tailored for the specific content type %>
<%= render partial: "content_#{@file.mime_type.split('/').last}", object: @file %>
<%= render partial: 'file_info', locals: { file: @file, instance: @file.instance } %>